@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

#mainnav {
    font-family: 'VT323', monospace;
    background-color: black;
    color: white;
}

#navlogo {
    position: relative;
    margin: auto;
    width: 240px;
    height: 90px;
}

@media screen and (max-width:560px) {
    #navlogo {
        width: 200px;
        height: 90px;
        margin-left: 15px;
        z-index: -9;
    }
}

#navlinkof1 {
    font-size: 22px;
    margin-left: 30px;
}

.dropdown-item {
    color: black;
    font-size: 22px;
    text-align: center;
}

.dropdown-item:hover {
    font-size: 23px;
    padding: 10px;
    text-decoration: underline;
}

#searchbox {
    height: 40px;
    border-radius: 25px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

#searchbtn {
    border-radius: 25px;
    height: 40px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

#jumbobody {
    margin-top: 64px;
}

@media screen and (max-width:1000px) {
    #jumbobody {
        margin-top: 100px;
    }
}

@media screen and (max-width:720px) {
    #jumbobody {
        margin-top: 130px;
    }
}

#bodybg {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.leftlogo img {
    width: 200px;
    height: auto;
    z-index: +9;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

@media screen and (max-width:1000px) {
    .leftlogo img {
        width: 150px;
        height: auto;
    }
}

@media screen and (max-width:720px) {
    .leftlogo img {
        width: 100px;
        height: auto;
        position: relative;
        bottom: 30px;
    }
}

@media screen and (max-width:500px) {
    .leftlogo img {
        position: relative;
        bottom: 45px;
    }
}

.rightlogo img {
    width: 500px;
    height: auto;
    margin-top: 30px;
    z-index: +9;
    float: right;
}

.mainbgof img {
    position: relative;
    bottom: 300px;
    z-index: -9;
}

#trailerbg {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    bottom: 300px;
}

.titletxt h1 {
    font-family: 'Rubik', sans-serif;
    color: white;
    margin: 60px auto 40px auto;
}

@media screen and (max-width:992px) {
    #trialervideo {
        display: flex;
        justify-content: center;
    }
}

.videotxt {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 22pt;
    margin-bottom: 40px;
}

#screenshot {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 22pt;
    margin-bottom: 40px;
    text-decoration: underline;
}

#screenshotimg {
    overflow: hidden;
    transition: 0.5s all ease-in-out;
}

#screenshotimg:hover {
    transform: scale(1.1);
}

#playable12 {
    position: relative;
    bottom: 300px;
    background-color: black;
}

.playhead h1 {
    font-family: 'Rubik', sans-serif;
    color: white;
}

#secondplayable {
    padding: 0;
    margin: 0;
}

#awardcol {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    bottom: 300px;
}

#customrow {
    position: relative;
    bottom: 172px;
}

@media screen and (max-width:1400px) {
    #customrow {
        position: relative;
        bottom: 150px;
    }
}

@media screen and (max-width:1200px) {
    #customrow {
        position: relative;
        bottom: 120px;
    }
}

@media screen and (max-width:992px) {
    #customrow {
        position: relative;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:992px) {
    #screenshotimg {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

#HTPmain {
    position: relative;
    bottom: 300px;
}

#HTPbg {
    background-size: cover;
    background-position: top center;
}

.How {
    font-family: 'Rubik', sans-serif;
    color: white;
    margin: 70px auto 40px auto;
}

.Howinfo {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 18pt;
}

.crew {
    margin-top: 80px;
    margin-bottom: 20px;
}

#crewmatetitle {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.crewmateobj {
    color: white;
    font-family: 'Rubik', sans-serif;
}

#crewobjrow {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width:992px) {
    #crewobjrow {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.crewmatepng {
    margin: 0px;
    padding-left: 25px;
}

.crewmateduty {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-weight: bold;
}

#footer12 {
    position: relative;
    bottom: 150px;
}

#Contactleft {
    margin-top: 60px;
    text-align: end;
    color: white;
}

@media screen and (max-width:990px) {
    #Contactleft {
        text-align: center;
        margin-top: 0px;
    }
}

#Contactleft .contacttxt h1 {
    font-family: 'VT323', monospace;
    font-size: 40pt;
}

.contacttxt h4 {
    font-family: 'VT323', monospace;
    font-size: 19pt;
}

#Contactright {
    background-color: #121212;
    padding-bottom: 50px;
}

#floatingInput {
    background-color: transparent;
    font-family: 'VT323', monospace;
    color: white;
}

#floatingInput:focus {
    background: transparent;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 16pt;
    -webkit-box-shadow: none;
    border-bottom: 1px solid white;
    outline: 0;

}

#checktxt {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 11pt;
}

.privacy {
    position: relative;
    left: 24px;
}

/* 12 */
.btn-12 {
    position: relative;
    top: 130px;
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    color: white;
    font-size: 18pt;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    -webkit-perspective: 230px;
    perspective: 230px;
    background-color: transparent;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:992px) {
    .btn-12 {
        top: 0px;
    }
}

.btn-12 span {
    background: rgba(45, 117, 182, 1);
    background: linear-gradient(0deg, rgba(45, 117, 182, 1) 0%, rgba(20, 117, 182, 1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-12 span:nth-child(1) {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.footer {
    background-color: #121212;
}

#socialconnect {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 17pt;

}